*{
  padding: 0;
  margin: 0;
}
body{
  background-color: aliceblue;
}

.clear-fix::after{
  content: '';
  display: block;
  clear: both;
}

.calendar{
  width: 240px;
  margin: 20px auto;
  color: #666;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.calendar .calendar-title{
  background-color: #ccc;
  border-bottom: 1px solid #999;
}
.calendar .calendar-btn{
  padding: 0 20px;
  font-family: serif;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
.calendar .calendar-btn:hover{
  color: rgb(55, 190, 2);
}
.calendar .calendar-btn-left{
  float: left;
}

.calendar .calendar-btn-right{
  float: right;
}
.calendar .calendar-btn-center,
.calendar .calendar-btn{
  height: 32px;
  line-height: 32px;
}
.calendar table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.calendar table thead{
  line-height: 20px;
  font-size: 12px;
  background-color: rgba(23, 235, 4, 0.5);
}
.calendar table tbody{
  margin-top: 2px;
  border-spacing: 2;
  background-color: #fff;
}

.calendar table tbody tr td{
  cursor: pointer;
  border: 4px solid #fff;
  /*背景颜色会占据padding 不用背景图而用border来解决*/
  /* padding: 2px; */
}
.calendar table tbody .today{
  /*防止背景颜色占据padding*/
  /* background: url(./img/sig.png) center center no-repeat; */
  /* background-size: cover; */
  background-color: orange;
  color: #fff;
}
.calendar table tbody td:hover,
.calendar table tbody .active{
  background-color: rgba(54, 250, 4, 0.7);
  color: #fff;
}
.calendar table tbody .notThisMouth{
  color: #aaa;
}
